.posts-list-filter-holder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 0 0 20px;
}

.posts-list-filter-holder .filter-item.active a {
    text-decoration: underline;
    pointer-events: none;
}

.posts-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 0 20px;
}

.posts-holder .post-holder {
    position: relative;
    padding: 25px 25px 22px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.12);
}

.posts-holder .post-holder .post-link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-image {
    margin: 0 0 10px;
}

.post-image img {
    display: block;
}

.post-title {
    margin: 0 0 10px;
}

.post-tags {
    position: relative;
    z-index: 1;
    margin: 0 0 7px;
}

.post-excerpt {
    margin: 0 0 7px;
}

.post-content {
    margin: 0 0 7px;
}

.pager {
    overflow: hidden;
    margin: 0 0 10px;
}

.pager .toolbar-amount {
    margin-right: 10px;
}

.post-comments-outer {
    margin: 30px 0 0;
}

.comments-title {
    margin: 0 0 20px;
}

.post-comments {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post-comment {
    position: relative;
    padding: 25px 25px 22px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.12);
}

.post-comment > .post-comment {
    margin: 25px 0 0;
}

.comment-author-name {
    margin: 0 0 10px;
}

.comment-author-mail {
    margin: 0 0 8px;
}

.comment-date {
    font-size: 0.8em;
}

.comment-author-text {
    margin: 0;
}

.post-comment-form {
    margin: 30px 0 0;
}

.post-comment-form.post-comment-reply-form {
    display: none;
}

.post-comment-form-title {
    margin: 0 0 15px;
}

.recent-posts-outer {
    margin: 30px 0 0;
}

.recent-posts {
    grid-template-columns: 1fr 1fr 1fr;
}

.recent-posts-intro-title {
    margin: 0 0 20px;
}

.related-posts-outer {
    margin: 30px 0 0;
}

.related-posts {
    grid-template-columns: 1fr 1fr 1fr;
}

.related-posts-intro-title {
    margin: 0 0 20px;
}

.popular-posts-outer {
    margin: 30px 0 0;
}

.popular-posts {
    grid-template-columns: 1fr 1fr 1fr;
}

.popular-posts-intro-title {
    margin: 0 0 20px;
}