<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">

    <default>
        <blog_settings>
            <general_settings>
                <show_in_main_menu>1</show_in_main_menu>
                <menu_item_label>Blog</menu_item_label>
            </general_settings>
            <list_settings>
                <page_size>8</page_size>
                <show_tags_filter_on_list>1</show_tags_filter_on_list>
                <show_tags_on_list>1</show_tags_on_list>
                <show_pagination_on_list>1</show_pagination_on_list>
            </list_settings>
            <tag_list_settings>
                <tag_page_size>8</tag_page_size>
                <show_pagination_on_tag_list>1</show_pagination_on_tag_list>
            </tag_list_settings>
            <tag_single_settings>
                <tag_page_size>8</tag_page_size>
                <show_pagination_on_tag_single>1</show_pagination_on_tag_single>
            </tag_single_settings>
        </blog_settings>
    </default>

</config>
