<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="posts_grid_data_source" xsi:type="string">Krga\Blog\Model\ResourceModel\Post\Grid\Collection</item>
                <item name="post_comments_grid_data_source" xsi:type="string">Krga\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
                <item name="post_tags_grid_data_source" xsi:type="string">Krga\Blog\Model\ResourceModel\Tag\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="blog_menu_item" type="Krga\Blog\Plugin\Topmenu" sortOrder="10" disabled="false"/>
    </type>
</config>